In [ ]:
# Import the required libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import pickle
from scipy import stats
import re

In [ ]:
# Load the diabetes dataset to a pandas DataFrame
Drug_dataset = pd.read_csv('/content/ascdataset.csv')

# Print the first 5 rows of the dataset
Drug_dataset.head()

,sex,Age,Schooling,MMSE,BADL,IADL,NPIFxS,NPIstress,Adas-Cog,FAB,Outcome
0,0,72,3,14,3,1,10,5,49,8,0
1,0,78,3,8,1,0,60,20,62,3,0
2,1,69,8,20,5,2,20,10,43,6,1
3,0,63,8,20,3,0,48,30,59,6,1
4,1,75,13,11,1,0,80,60,61,5,0

In [ ]:
# To get the number of rows and columns in the dataset
Drug_dataset.shape

# To get the statistical measures of the data
Drug_dataset.describe()

,sex,Age,Schooling,MMSE,BADL,IADL,NPIFxS,NPIstress,Adas-Cog,FAB,Outcome
count,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000
mean,0.354839,73.129032,6.935484,13.758065,2.677419,1.016129,26.306452,14.758065,46.629032,5.774194,0.500000
std,0.482370,6.836459,4.015833,6.263832,1.871041,1.311887,19.811066,13.727662,13.272965,2.356848,0.504082
min,0.000000,57.000000,2.000000,3.000000,0.000000,0.000000,0.000000,0.000000,16.000000,1.000000,0.000000
25%,0.000000,69.250000,5.000000,9.000000,1.000000,0.000000,10.000000,2.750000,38.500000,4.000000,0.000000
50%,0.000000,74.500000,5.000000,13.000000,3.000000,0.000000,24.500000,12.000000,49.000000,6.000000,0.500000
75%,1.000000,78.000000,8.000000,18.750000,4.000000,2.000000,38.000000,20.000000,56.000000,7.000000,1.000000
max,1.000000,91.000000,17.000000,28.000000,6.000000,5.000000,80.000000,60.000000,69.000000,12.000000,1.000000

In [ ]:
# To get details of the outcome column
Drug_dataset['Outcome'].value_counts()

0    31
1    31
Name: Outcome, dtype: int64

In [ ]:
# separating the data and labels
X = Drug_dataset.drop(columns = 'Outcome', axis=1)
Y = Drug_dataset['Outcome']

# To print the independent variables
print(X)

    sex  Age  Schooling  MMSE  BADL  IADL  NPIFxS  NPIstress  Adas-Cog  FAB
0     0   72          3    14     3     1      10          5        49    8
1     0   78          3     8     1     0      60         20        62    3
2     1   69          8    20     5     2      20         10        43    6
3     0   63          8    20     3     0      48         30        59    6
4     1   75         13    11     1     0      80         60        61    5
..  ...  ...        ...   ...   ...   ...     ...        ...       ...  ...
57    1   77          5    10     3     1      12          5        56    8
58    0   77          5     8     1     0      40         25        55    6
59    1   77          8    24     4     2       0          0        36    7
60    0   61          8     6     0     0      10          5        53    4
61    0   78          5    15     4     2      20         10        48    7

[62 rows x 10 columns]

In [ ]:
# To print the outcome variable
print(Y)

0     0
1     0
2     1
3     1
4     0
     ..
57    1
58    1
59    1
60    0
61    0
Name: Outcome, Length: 62, dtype: int64

In [ ]:
#Split the data into train and test
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)
print(X.shape, X_train.shape, X_test.shape)

(62, 10) (49, 10) (13, 10)

In [ ]:
# Build the model
classifier = LogisticRegression(random_state=0)

# Train the support vector Machine Classifier
classifier.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=0)

In [ ]:
# Accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

print('Accuracy score of the training data : ', training_data_accuracy)

# Accuracy score on the test data
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

print('Accuracy score of the test data : ', test_data_accuracy)

Accuracy score of the training data :  0.6326530612244898
Accuracy score of the test data :  0.46153846153846156

In [ ]:
input_data = (0,79,5,19,5,3,10,2,28,5)

# Change the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# Reshape the array for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshaped)
print(prediction)

if (prediction[0] == 0):
  print('The person treated with monotherapy')
else:
  print('The person treated with associated therapy')

[1]
The person treated with associated therapy

/usr/local/lib/python3.10/dist-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(